# ------------------------------------------------------------------------------
# JavaScript
# ------------------------------------------------------------------------------
snippet log
	console.log(${1});
snippet obj
	{
		${1}
	}
snippet arr
	[
		${1}
	]
# ------------------------------------------------------------------------------
# jQuery
# ------------------------------------------------------------------------------
snippet $
	$(${1})${2}
snippet $t
	$(this)${1}
# ------------------------------------------------------------------------------
# Underscore.js
# ------------------------------------------------------------------------------
snippet _ea
	_.each(${1:list}, ${2:iterator});
snippet _tpl
	_.template(${1})
